* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f5f7fb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: white;
  width: 90%;
  max-width: 420px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.fade {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

h1 {
  color: #004aad;
  text-align: center;
  font-size: 2.2em;
  margin-bottom: 5px;
}

.subtitle {
  color: #555;
  text-align: center;
  margin-bottom: 25px;
}

.field {
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 10px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 15px;
  outline: none;
  transition: border 0.2s;
}

input:focus {
  border-color: #004aad;
}

button {
  width: 100%;
  background: #004aad;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s;
}

button:disabled {
  background: gray;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background: #003b8e;
}

.error-text {
  color: red;
  font-size: 13px;
  display: none;
  margin-top: 5px;
}

.pass-link, .signup-link {
  text-align: center;
  margin-top: 10px;
}

.pass-link a, .signup-link a{
  color: #004aad;
  text-decoration: none;
  font-weight: 500;
}

.pass-link a:hover, .signup-link a:hover, .back-link:hover {
  text-decoration: underline;
}

.criteria {
  font-size: 14px;
  margin-top: -5px;
  padding-left: 5px;
}

.criteria li {
  list-style: none;
  margin-bottom: 3px;
  color: #e74c3c;
  display: flex;
  align-items: center;
  gap: 5px;
}

.criteria li.valid {
  color: #27ae60;
}

.criteria li::before {
  content: "❌";
}

.criteria li.valid::before {
  content: "✅";
}

 .back-link {
    color: #004aad;
    text-decoration: none;
    font-weight: 500;
    display: block;
    text-align: left;
    margin-top: 20px;
 }